@import '_helpers';

.dynamic-logo {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 60px;
  transition: width 0.1s ease-in;
  & > * {
    transition: opacity 0.5s ease-in, width 0.2s ease-in, transform 0.1s ease-in;
  }
  .rails {
    @include transform(translate(0px,5px));
    width: 21px;
    height: 25px;
    background-image: image-url('Rails@2x.png');
    background-size: cover;
  }
  .reactor {
    @include transform(translate(30px,-5px));
    width: 21px;
    height: 25px;
    background-image: image-url('Reactor@2x.png');
    background-size: 120px 25px;
    background-repeat: no-repeat;
  }
  .lighting {
    width: 24px;
    height: 31px;
    opacity: 1;
    z-index: 5;
    left: 14px;
    top: 11px;
    position: absolute;
    background-image: image-url('Lighting@2x.png');
    background-size: cover;
  }
}
.masthead-logo:hover .dynamic-logo {
  width: 120px;
  .rails {
    @include transform(translate(0px,0px));
    width: 70px;
  }
  .reactor {
    @include transform(translate(0px,0px));
    width: 120px;
  }
  .lighting {
    opacity: 0;
  }
}