html {
    font-size: 16px
}

body {
    font-family: "Helvetica Neue",Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem
}

table {
  width: 100%;
  thead {
    border-bottom: 1px solid;
    border-color: #777;
  }
  td:first-child {
    text-align: left;
  }
  td {
    padding: 5px;
  }
  .actions {
    // &:not(th) {
    //   background-color: #EEE;
    // }
    min-width: 110px;
    text-align: center;
    a + a {
      margin-left: 10px;
    }
  }
}
