@import 'primer-css/scss/primer';
@import 'helpers';

.container {
  width: auto;
  max-width: 1020px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 4rem;
  line-height: 1.75;
  color: #7a7a7a;
  border-top: 1px solid #eee;
}

.container {
  @include small-breakpoint() {
    .column {
      width: 100%;
    }

    .menu {
      text-align: center;
    }
  }
}

.search-form-field {
  display: inline-block;
}
