@import 'primer-css/scss/primer';

.container {
  width: auto;
  max-width: 1020px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 3rem;
  line-height: 1.75;
  color: #7a7a7a;
  border-top: 1px solid #eee;
}