@import 'variables';
@import 'helpers';

.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  background-color: #060D15;
  background-image: image-url('bg.png');
  display: flex;
  justify-content: center;
  .masthead-container {
    flex: 1 1 100%;
    max-width: 1020px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .masthead-logo {
    font-size: 1.5rem;
    color: #fff;
    .proxet {
      display: inline-block;
      position: relative;
      height: 60px;
      width: 247px;
      background-image: image-url('Proxet.png');
      background-size: cover;
    }
  }
}


@media (min-width: 34em) {
  .masthead {
    text-align:left;
    .masthead-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .masthead-logo {
      width: 337px;
      display: flex;
      justify-content: space-between;
      > * {
        transition: all 0.3s ease-in, transform 0.1s ease-in, font-size 0.3s ease-in;
      }
      .proxet {
        display: inline-block;
        position: relative;
        height: 60px;
        width: 50px;
        background-image: image-url('Proxet.png');
        background-size: cover;
      }
      .newsletter {
        font-size: 54px;
        font-family: 'Inter', sans-serif;
        line-height: 0.9;
        height: 60px;
        display: inline-block;
        width: 270px;
        text-align: left;
      }
      &:hover .newsletter {
        font-size: 16px;
        width: 82px;
      }
      &:hover .proxet {
        width: 247px;
      }
    }
  }
}

.masthead-nav {
  margin-top: 1rem;
  font-size: 1rem;
  a {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1.25rem;
    }
  }
  .active {
    color: #fff;
    font-weight: 500;
  }
  @media (max-width: 34em) {
    padding-top:1rem;
    border-top: 0.075rem solid rgba(255,255,255,0.25);
  }
  @media (min-width: 34em) {
    margin-top: .5rem;
  }
}
